{% extends 'base.html' %}
{% load static %}
{% block title %}
MoveEase | Personal Info
{% endblock %}
{% block body %}

{% include 'customer/customer_navbar.html'%}

<section class="customer-profile" style="margin-top:20px;">
    <fieldset>
        <legend style="margin: 10px 0px -16px 250px; background-color: white;width:138px;color:red;">Personal Info</legend>
        <form method="post">
            {% csrf_token %}
            <div class="container" style="border:1px solid black; margin-top:10px;width:1000px;margin-bottom:20px;border-radius:30px;border-color:darkblue;">
                <div class="row">
                    <div class="col-md-6">
                        <h6><label for="f-name" class="form-label">First Name</label></h6>
                    </div>
                    <div class="col-md-6" style="text-align:center">
                        <input type="text" class="form-control" id="f-name" name="f-name" {% if customer.first_name != None %} value="{{customer.first_name}}" {% endif %} placeholder="Enter First Name">
                        <p id="f-name-error" style="color:red;"></p>
                    </div>
                    
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h6><label for="l-name" class="form-label">Last Name</label></h6>
                    </div>
                    <div class="col-md-6" style="text-align:center">
                        <input type="text" class="form-control" name="l-name" id="l-name" {% if customer.last_name != None %} value="{{customer.last_name}}" {% endif %} placeholder="Enter Last Name">
                        <p id="l-name-error" style="color:red;"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h6><label for="email" class="form-label">Email address</label></h6>
                    </div>
                    <div class="col-md-6" style="text-align:center">
                        <input type="email" class="form-control" name="email" id="email" {% if customer.email != None %} value="{{customer.email}}" {% endif %} placeholder="name@example.com">
                        <p id="email-error" style="color:red;"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h6><label for="ph-no" class="form-label">Phone Number*</label></h6>
                    </div>
                    <div class="col-md-6" style="text-align:center">
                        <input type="text" class="form-control" name="ph-no" id="ph-no" {% if customer.phone_number != None %} value="{{customer.phone_number}}" {% endif %} placeholder="Enter Phone Number">
                        <p id="ph-no-error" style="color:red;"></p>
                    </div>
                </div>

                <!-- address-->
                <div class="row">
                    <div class="col-md-6">
                        <h6><label for="ph-no" class="form-label">Address</label></h6>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <h6><label for="door-no" class="form-label" style="margin-bottom:0px;">Door No</label></h6>
                                <input type="text" name="door-no" style="margin-bottom:10px;" class="form-control" {% if customer.door_no != None %} value="{{customer.door_no}}" {% endif %} id="door-no" placeholder="Enter Door No.">
                                <p id="door-no-error" style="color:red;text-align:center"></p>
                            </div>
                            <div class="col-md-6">
                                <h6><label for="street" class="form-label" style="margin-bottom:0px;">Street</label></h6>
                                <input type="text" name="street" style="margin-bottom:10px;" class="form-control" {% if customer.street != None %} value="{{customer.street}}" {% endif %} id="street" placeholder="Enter Street">
                                <p id="street-error" style="color:red;text-align:center"></p>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <h6><label for="city" class="form-label" style="margin-bottom:0px;">City</label></h6>
                                <input type="text" name="city" style="margin-bottom:10px;" class="form-control" {% if customer.city != None %} value="{{customer.city}}" {% endif %} id="city" placeholder="Enter City">
                                <p id="city-error" style="color:red;text-align:center"></p>
                            </div>
                            <div class="col-md-6">
                                <h6><label for="state" class="form-label" style="margin-bottom:0px;">State</label></h6>
                                <input type="text" name="state"  style="margin-bottom:10px;" class="form-control" {% if customer.state != None %} value="{{customer.state}}" {% endif %} id="state" placeholder="Enter State">
                                <p id="state-error" style="color:red;text-align:center"></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <h6><label for="zipcode" class="form-label" style="margin-bottom:0px;">ZIP Code*</label></h6>
                                <input type="text" name="zipcode" style="margin-bottom:10px;" class="form-control" {% if customer.zip_code != None %} value="{{customer.zip_code}}" {% endif %} id="zipcode" placeholder="Enter ZIP Code">
                                <p id="zipcode-error" style="color:red;text-align:center"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="text-align: center;"><button type="submit" class="btn btn-success" id="submit-button">Update</button></div>
            </div>
        </form>
    </fieldset>

</section>


<style>
    .row{
        margin-top:10px;
        margin-bottom:10px;
    }

    h6{
        padding-top:10px;
    }

    button{
        margin-bottom:10px;
    }
</style>

<script>

    $(document).ready(function(){

        $(this).on("click", "#submit-button", function(e){
            let f_name = $("#f-name").val();
            let l_name = $("#l-name").val();
            let email = $("#email").val();
            let ph_no = $("#ph-no").val();
            let door_no = $("#door-no").val();
            let street = $("#street").val();
            let city = $("#city").val();
            let state = $("#state").val();
            let zipcode = $("#zipcode").val();



            // Phone number validation
            let ph_re = /^[6789][0-9]{9}$/; //regex pattern
            let ph_res = ph_re.test(ph_no);  //regex method

            if(ph_res){ 
                $("#ph-no-error").hide();

                // ZIP Code Validation
                let zipcode_regex = /^[6][0-9]{5}$/;
                let zip_met = zipcode_regex.test(zipcode);

                if (zip_met){
                    $("#zipcode-error").hide();

                    if (confirm("Press ok to update\nPress Cancel to go back")){
                        console.log("yes")
                        alert("Updated Succesfully!!....")
                    }else{
                        e.preventDefault()
                    }
                }else{
                    $("#zipcode-error").html("Invalid ZIP code");
                    $("#zipcode-error").show();
                    e.preventDefault();
                }
            }else{
                $("#ph-no-error").html("Invalid Phone Number");
                $("#ph-no-error").show();
                e.preventDefault();
            };
            
            
        })
    })

</script>
{% endblock %}