{% extends 'base.html' %}
{% load static %}
{% block title %}
MoveEase | Customer-Password Update
{% endblock %}
{% block body %}

{% include 'customer/customer_navbar.html'%}

<section class="customer-password" style="margin-top:20px;">
    <fieldset>
        <legend style="margin: 10px 0px -16px 250px; background-color: white;width:187px;color:red;">Change Password
        </legend>
        <form method="post">
            {% csrf_token %}
            <div class="container"
                style="border:1px solid blue; margin-top:10px;width:1000px;margin-bottom:20px;border-radius:30px;border-color:darkblue;">
                <div class="row">
                    <div class="col-md-6">
                        <h6><label for="old-password" class="form-label">Enter Old Password</label></h6>
                    </div>
                    <div class="col-md-6" style="text-align:center">
                        <input type="password" class="form-control" id="old-password" name="old-password"
                            placeholder="Enter Old Password">
                        <p id="old-password-error" style="color:red;"></p>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h6><label for="password1" class="form-label">Enter New Password</label></h6>
                    </div>
                    <div class="col-md-6">
                        <input type="password" class="form-control" name="password1" id="password1"
                            placeholder="Enter New Password">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h6><label for="password2" class="form-label">Re Enter Password</label></h6>
                    </div>
                    <div class="col-md-6" style="text-align:center">
                        <input type="password" class="form-control" name="password2" id="password2"
                            placeholder="Re Enter Password">
                        <p id="password-error" style="color:red;"></p>
                    </div>
                </div>
                <div style="text-align:center">
                    <button type="submit" class="btn btn-success" id="submit-button">Update</button>
                </div>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <div style="text-align: center;">
                        <li; {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</li>
                    </div>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </form>
    </fieldset>

</section>


<style>
    .row {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    h6 {
        padding-top: 10px;
    }

    button {
        margin-bottom: 10px;
    }

    .messages {
        color: red;
    }

    li {
        list-style-type: none;
    }

    .success {
        color: green
    }
</style>

<script>

    $(document).ready(function () {
        $(this).on("click", "#submit-button", function (e) {
            let password1 = $("#password1").val();
            let password2 = $("#password2").val();
            let old_password = $("#old-password").val();

            console.log(password1)
            if (old_password != "") {
                $("#old-password-error").hide();
                if (password1 == password2) {
                    $("#password-error").hide();
                    if (old_password != password1) {
                        $("#password-error").hide();
                        console.log("Done")
                    } else {
                        $("#password-error").html("New password and Current password must not be same");
                        $("#password-error").show();
                        e.preventDefault();
                    }
                } else {
                    $("#password-error").html("Password Doesn't match");
                    $("#password-error").show();
                    e.preventDefault();
                }

            } else {
                $("#old-password-error").html("Invalid Password");
                $("#old-password-error").show();
                e.preventDefault();
            }

        })
    })

</script>
{% endblock %}