{% extends 'base.html' %}
{% load static %}
{% block title %}
MoveEase | Net Banking
{% endblock %}
{% block body %}
<section class="netbanking-section">
    <div class="container"
        style="width:400px;border: solid 2px lightblue;padding:0px;margin-top:100px;text-align:center">
        <div class="header" style="background-color:lightblue;">
            <p style="font-size:30px">Banking Site</p>
        </div>
        <form method="post">
            {% csrf_token %}
            <label for="username" style="margin-top:10px"><strong><em>Enter User Name</em></strong></label>
            <input type="text" style="width:300px;margin-left: 45px;" class="form-control" id="username" name="name"
                placeholder="Username" required>
            <label for="password" style="margin-top:10px"><strong><em>Enter Password</em></strong></label>
            <input type="password" style="width:300px;margin-left: 45px;" class="form-control" id="password"
                name="password" placeholder="Enter Password" required>
            <hr>
            <button type="submit" id="submit-button" data-amount={{customer_info.discounted_amount}}
                style="float:right; margin-right:100px" class="btn btn-primary">Login</button>
            <button type="submit" id="back-button" style="margin-right:30px;" class="btn btn-danger">Back</button>
        </form>
        <button id="pay-button" class="btn btn-outline-success" data-amount={{customer_info.discounted_amount}}>Press
            here to pay Rs. {{customer_info.discounted_amount}}</button>

        <div class="mb-3" style="text-align: center;">
            <p id="amount-msg" style="color:green;">Transaction Successful!!</p>
        </div>

    </div>

</section>

<script>

    // Logic for back button
    $(document).ready(function () {
        $("#back-button").on("click", function () {
            console.log("Pressed back button")
            window.location = "{% url 'moveease_customer:payment_page' %}" // Back to payment page
        })
    })


    // Logic for Paying
    $(document).ready(function () {
        $("#amount-msg").hide();
        $("#pay-button").hide();
        $("#submit-button").on("click", function (e) {
            let name = $("#username").val();
            let password = $("#password").val();
            if (name != "" && password != "") {
                console.log("Pressed submit button");
                e.preventDefault();
                $("form").fadeOut(2000);
                $("#pay-button").fadeIn(1500);
            } else {
                console.log("Not Pressed");
            }
        })
    })

    //Logic for Paying 2(If all logic are in same function, it happens very very fast. So it is separated as different function)
    $(document).ready(function () {
        $("#pay-button").click(function () {
            let total_amount = $("#pay-button").attr("data-amount");
            let msg = "Press OK to pay Rs." + total_amount;
            if (confirm(msg)) {
                console.log("Paid");
                $("#pay-button").fadeOut(1000);
                $("#amount-msg").fadeIn(1000);
                $("#amount-msg").delay(3000).fadeOut("slow");
                let my_data = { payment_mode: "NET BANKING" };
                $.ajax({
                    url: "{% url 'moveease_customer:payment_update' %}",
                    type: "POST",
                    data: my_data,
                    success: function (value) {
                        if (value.status == 1) {
                            alert("Your Transaction is Successful!!");
                            alert("Success!! Your Order is Confirmed!!!");
                            window.location = "{% url 'moveease_customer:home' %}";
                        } else {
                            alert("Your Transaction is Denied!!");
                            console.log("Error while updating payment mode(NET BANKING) in database")
                        }
                    }
                })

            } else {
                console.log("not paid");
            }
        })
    })
</script>
{% endblock %}